  
@using CarDealership.Models;

@{
  Layout = "_Layout";
}

<div class="jumbotron">
  <h1>Add a Car</h1>
</div>
@if (@Model.Count == 0)
{
  <p>There are no cars! Good or bad business?</p>
}
<ul>
  @foreach (Car car in Model)
  {
    <li>Description: @car.Description</li>
    <li>Model: @car.MakeModel</li>
    <li>Price: @car.Price</li>
    <li>Miles: @car.Miles</li>
  }
</ul>
<a href='/cars/new'>Add new car</a>
<br>
<a href='/'>Home<a>